<div class="container">
    <h3>Registration Form</h3>
    <form [formGroup]="registrationForm" (ngSubmit)="enrollData(registrationForm.value)">
        <div class="row">
            <div class="col-md-4">
                <label>Name</label>
                <input type="text" class="form-control" name="name" formControlName="name"/>
            </div>
            <div class="col-md-4">
                <label>password</label>
                <input type="password" class="form-control" name="password" formControlName="password"/>
            </div>
            <div class="col-md-4">
                <label>Email</label>
                <input type="email" class="form-control" name="email" formControlName="email" autofocus/>
            </div>
            <div class="col-md-4">
                <label>PhoneNumber</label>
                <input type="number" class="form-control" name="phoneNumber" formControlName="phoneNumber"/>
            </div>
            <div class="col-md-4">
                <label>DOB</label>
                <input type="date" class="form-control" name="dob" formControlName="dob"/>
            </div>
            <div class="col-md-4">
                <label>Sex</label>
                <br />
                <input type="radio" name="sex" formControlName="sex" value="m"/> Male
                <input type="radio" name="sex" formControlName="sex" value="f"/> Female
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary mt-3">Register</button>
            </div>
            <div class="col-md-1">
                <button type="reset" class="btn btn-danger mt-3">Reset</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success mt-3" routerLink="/login"><i class="fa fa-undo" aria-hidden="true"></i> Back to login</button>
            </div>
        </div>
    </form>
</div>
